<h1>All Task Lists</h1>
this is just a link to the <%= link_to "Archived Lists", archived_lists_path %> page

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

HERE ARE THE LISTS:

<div class="all-task-lists">
  <% @lists.map do |list| %>
    <%= link_to list.title, list_path(list) %>
  <% end %>
</div>
