<h1>All Task Lists</h1>
<h3><%= link_to "Add A New List", new_user_list_path(current_user.url) %> |
<%= link_to "Archived Lists", user_archived_lists_path(current_user.url) %>
</h3>

<br/>
<br/>

<h3>
Lists:
</h3>

<h4>
<div class="all-task-lists">
  <% @lists.map do |list| %>
    <%= link_to list.title, user_list_path(current_user.url, list) %> <br/>
  <% end %>
</div>
</h4>